<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= data.name %></h1>
    <p>ID: <%= data.id %></p>
    <p>Type: <%= data.type %></p>
    <p>Logo: <img src="<%= data.logo %>" alt="<%= data.name %>"></p>
    <p>Country: <%= data.country.name %></p>
    <p>Country Id: <%= data.country.id %></p>
    <p>Season: <%= data.seasons[0].season %></p>
</body>
</html>