<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/id" method="POST">
        <label for="title">Enter a id</label>
        <input type="number" id="title" name="input">
        <button type="submit">Submit</button>
    </form>

    <% if (typeof input !== 'undefined') { %>
        <% data.response.forEach(data => { %>
            <% if (data.id == input) { %>
                <h1><%= data.name %></h1>
                <p>ID: <%= data.id %></p>
                <p>Type: <%= data.type %></p>
                <p>Logo: <img src="<%= data.logo %>" alt="<%= data.name %>"></p>
                <p>Country: <%= data.country.name %></p>
                <p>Country Id: <%= data.country.id %></p>
                <% data.seasons.forEach(data1 => { %>
                    <p>Season: <%= data1.season %></p>
                    <p>Current: <%= data1.current %></p>
                    <p>Start: <%= data1.start %></p>
                    <p>End: <%= data1.end %></p>
                <% }) %>
            <% } %>
        <% }) %>
    <% } else { %>
        <!-- Render initial data from the API -->
        <% data.response.forEach(data => { %>
            <h1><%= data.name %></h1>
            <p>ID: <%= data.id %></p>
            <p>Type: <%= data.type %></p>
            <p>Logo: <img src="<%= data.logo %>" alt="<%= data.name %>"></p>
            <p>Country: <%= data.country.name %></p>
            <p>Country Id: <%= data.country.id %></p>
            <% data.seasons.forEach(data1 => { %>
                <p>Season: <%= data1.season %></p>
                <p>Current: <%= data1.current %></p>
                <p>Start: <%= data1.start %></p>
                <p>End: <%= data1.end %></p>
            <% }) %> 
        <% }) %> 
    <% } %> 
    
</body>
</html>